.container{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Puts button at button of page for now */
.container{
    justify-content: flex-end;
}

button{
    color: purple;
    width: 100px;
}
